@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

html, body {
  height: 100vh !important;
  font-family: Oswald;
}

.title {
  font-variation-settings: 'wght' 100, 'wdth' 85;
  animation: breathe 4000ms 1 forwards;
  animation-delay: 500ms;
}

@keyframes breathe {
  100% { font-variation-settings: 'wght' 700, 'wdth' 100; }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}